@mixin grid-n($width) {
  .grid-style {
    display: inline-block;
    vertical-align: top;
  }

  .grid-container .grid-#{$width} {
    display: inline-block;
    vertical-align: top;
    width: percentage(($width * 1.0)/100);
  }
}

@mixin grid-generator {
  .grid-container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }

  @for $factor from 1 through 20 {
    @include grid-n($factor * 5);
  }

  .grid-container .grid-100 {
    clear: both;
  }

  .grid-70 {
    line-height: 1.8em;
  }
}

@include grid-generator;